<nav class="navbar-expand navbar-light navbar">
  <ul class="bav-tabs me-5 navbar-nav ms-auto">
    <li class="nav-item">
      <a
        class="text-body nav-link pb-0"
        routerLink="/search"
        routerLinkActive="active"
        ><p class="pb-0 mb-2" style="color: white">Search</p></a
      >
    </li>
    <li class="nav-item">
      <a
        class="text-body nav-link pb-0"
        routerLink="/favorites"
        routerLinkActive="active"
        ><p class="pb-0 mb-2" style="color: white">Favorites</p></a
      >
    </li>
  </ul>
</nav>
