/* .left {
  position: absolute;
  bottom: 8px;
  left: 50px;
  color: white;
} */
body {
  width: 100%;
  height: 100%;
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#searchForm {
  background-color: rgba(122, 118, 118, 0.4);
  backdrop-filter: blur(5px);
  /* opacity: 0.9; */
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;

  border-radius: 15px;
}

.lineInTheForm {
  margin-top: 0;
  margin-bottom: 10px;
}

.bigTitle {
  opacity: 1;
  padding-top: 0;
  margin-top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: white;
  /* margin-bottom: 60px; */
}

.keywordlabel {
  margin-top: 30px;
}

#header {
  width: 720px;
  position: relative;
}

#checkbox {
  padding: 0;
  margin: 0;
  transform: scale(1.2);
}

.left {
  position: absolute;
  bottom: 8px;
  left: 50px;
  color: white;
}

label {
  opacity: 1;
  font-weight: 500;
  color: rgb(79, 111, 169);
}

#dectectLocationText {
  font-weight: 400;
  font-size: x-large;
  color: rgb(79, 111, 169);
}

form {
  /* border-radius: 15px; */
  margin: 20px;
  width: 85%;
}

/* .formInput {
  background-color: rgba(122, 118, 118, 0.4);
  backdrop-filter: blur(5px);
} */

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input {
  -webkit-text-fill-color: white;
}
/* button setting */
.button {
  opacity: 1;
  font-size: medium;
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 10px;
}

#searchButton {
  background-color: rgb(232, 92, 40);
  color: white;
}

#clearButton {
  background-color: rgb(74, 74, 239);
  color: white;
}

.formButton:hover {
  opacity: 0.75;
}

.norecords {
  width: 950px;
  height: 50px;
  background-color: white;
  margin: 100px auto;
}
.norecordsfound {
  font-size: 16px;
  padding-top: 13px;
  /* font-weight: 500; */
  /* margin-top: 100px; */
  color: red;
  text-align: center;
}

/* setting input */
input[type="text"],
select {
  color: white;
  border: 1px solid white;
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  /* color: rgba(85, 79, 79, 0.7); */
}
input[type="number"],
select {
  color: white;
  border: 1px solid white;
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  margin: 8px 0;
  display: inline-block;
  /* background-color: rgba(85, 79, 79, 0.7); */
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.star {
  color: red;
}

.none {
  display: none;
}

/* setting main-taible */
#main-table {
  background-color: white;
  /* width: 1100px; */
  margin: auto;
  margin-top: 100px;
}

.main-table {
  table-layout: fixed;
  width: 1100px;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* display: none; */
}

.main-table th {
  border: 1px solid black;
  height: 40px;
  /* width: 100px;  */
  background: white;
}

#date_head {
  width: 15%;
}
#icon_head {
  width: 15%;
}
#event_head {
  width: 40%;
}
#genre_head {
  width: 10%;
}
#venue_head {
  width: 20%;
}
.main-table td {
  border: 1px solid black;
  height: 128px;
  text-align: center;
  font-weight: 200;
}

.addedimage {
  width: 80px;
  height: 45px;
  object-fit: cover;
}

/* setting table2 */
.table2 {
  background-color: rgba(96, 91, 91, 0.5);
  backdrop-filter: blur(9px);

  width: 950px;
  height: 600px;

  background-size: auto;
  margin: auto;
  margin-top: 60px;
  border-radius: 15px;
}

#table2Header {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 30px;
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.table2ContentHeader {
  margin-left: 50px;
  margin-bottom: 5px;
  font-size: 20px;
  color: aqua;
  font-weight: 700;
}

.table2ContentText {
  font-weight: 200;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 15px;
  color: white;
}

#picture {
  width: 500px;
  height: 400px;
  margin-right: 70px;
}

#ticketStatus {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.onsale {
  background-color: green;
  border-radius: 8px;
}

.offsale {
  background-color: red;
  border-radius: 8px;
}

.cancelled {
  background-color: black;
  border-radius: 8px;
}

.postponed {
  background-color: orange;
  border-radius: 8px;
}

.rescheduled {
  background-color: orange;
  border-radius: 8px;
}

.leftbutton {
  /* text-align: center; */
  margin-left: 0;
  border-bottom: 1px solid #969191;

  border-top-right-radius: 0;

  transform: rotate(-315deg);
}

.rightbutton {
  border-bottom: 1px solid #969191;

  transform: rotate(-45deg);
  border-top-left-radius: 0;
}
/* setting show venue details */
.showDetails {
  width: 900px;
  height: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.table3Header {
  text-align: center;

  font-size: 20px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #969191;
}

.showDetailsButton {
  text-decoration: none;
  margin-top: 30px;
  opacity: 1;
  margin: 30 auto;
  width: 140px;
  height: 60px;
  border: none;
}

/* .button {
  opacity: 1;
  font-size: medium;
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 10px;
} */

.venueDetailsHeader {
  /* display: inline-block; */
  text-align: center;

  /* text-decoration: underline;
  text-decoration-thickness: 1px; */
  /* border-bottom: 1px black; */
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20;
}
.venueDetailsHeaderspan {
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
  margin: 10px auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.leftleft {
  text-align: right;
}

.moreevents {
  margin-left: 120px;
}

.venueDetails {
  background-color: white;
  margin-top: 30px;
  /* border: 10px double black; */

  outline: 15px solid white;

  height: 350px;
  border-radius: 20px;
}
.venueDetails2 {
  border: 1px solid black;
  border-radius: 20px;
  height: 348px;
  margin-top: 80px;
}
.small {
  background-color: white;
  margin-top: 30px;
  /* border: 10px double black; */

  outline: 15px solid white;

  height: 260px;
  border-radius: 20px;
}
.smaller {
  border: 1px solid black;
  border-radius: 20px;
  height: 258px;
  margin-top: 80px;
}

.leftandright {
  margin-top: 50px;
}

.venueDetailsleft {
  border-right: 1px solid black;
}
.venueDetailsright {
  margin-top: 15px;
}

.venueDetailspic {
  width: 150px;
  height: 100px;
  display: block;

  margin: 10px auto;
}

.opengoogle {
  text-align: center;
  margin-left: 145px;
}
/* .venueDetailsleft {
  border-right: 1px solid black;
} */

a {
  color: #1098ad;
  text-decoration: none;
}

.none {
  display: none;
}

/* hover setting */
.button:hover {
  opacity: 0.8;
}

.tableHead th {
}

.cansorted {
  cursor: pointer;
}

.toTable2:hover {
  color: purple;
}

.url1:hover {
  color: rgb(168, 169, 241);
}

.url2:hover {
  color: rgb(168, 169, 241);
}

.ticketmasterurl:hover {
  color: rgb(168, 169, 241);
}

.opengoogle:hover {
  color: rgb(168, 169, 241);
}

.moreevents:hover {
  color: rgb(168, 169, 241);
}

.showDetailsButton {
  cursor: pointer;
}
.showDetailsButton:hover {
  opacity: 0.8;
}
